.clock_extension {
    position: fixed;
    top: 20px;
    left: 250px;
    z-index: 10000;
    font-size: 32px;
    color: chocolate;
    cursor: default;
}

.hide {
    display: none;
}

.draggable {
    cursor: move;
}